<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kiteXGroundControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F94D03A1E5D9A750000D2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F94D04B1E5D9A760000D2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F94D0561E5D9A760000D2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
